<div class="row mt-0">
    <nav class="navbar navbar-expand-lg w-100 ">
        <div class="container-fluid p-0 ">
            <button id="abrir_menus" class="navbar-toggler  collapsed rounded border border-dark" type="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list"
                    viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                </svg>
            </button>
            <ul id="navbarNavDropdown" class="show navbar-nav navbar-collapse collapse  h5 text-center  w-100 "
                style="min-height:0px">
                <li class=" col nav-item  " style="padding-left: 0;padding-right: 0; ">

                    <a id="menu1" style="padding-left: 0;padding-right: 0;"
                        class="nav-link dropdown-toggle text-capitalize text-color-1" href="#" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Notícias</a>
                    <div class="dropdown-menu bg-menu-1 text-left text-uppercase " id="submenu1"
                        aria-labelledby="menu1">
                        <a class="dropdown-item" href="https://tooeste.com.br/ler/Notícias/agro negocios/">agro
                            negocios</a>
                        <a class="dropdown-item" href="https://tooeste.com.br/ler/Notícias/politica/">politica</a>
                        <a class="dropdown-item" href="https://tooeste.com.br/ler/Notícias/parana/">parana</a>
                        <a class="dropdown-item" href="https://tooeste.com.br/ler/Notícias/brasil/">brasil</a>
                        <a class="dropdown-item" href="https://tooeste.com.br/ler/Notícias/mundo/">mundo</a>
                        <a class="dropdown-item" href="https://tooeste.com.br/ler/Notícias/economia/">economia</a>
                        <a class="dropdown-item" href="https://tooeste.com.br/ler/Notícias/setor policial/">setor
                            policial</a>
                        <a class="dropdown-item" href="https://tooeste.com.br/ler/Notícias/saude  e educacao/">saude e
                            educacao</a>
                    </div>
                </li>
                <li class=" col nav-item  " style="padding-left: 0;padding-right: 0; ">

                    <a id="menu2" style="padding-left: 0;padding-right: 0;"
                        class="nav-link dropdown-toggle text-capitalize text-color-2" href="#" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Esporte</a>
                    <div class="dropdown-menu bg-menu-2 text-left text-uppercase " id="submenu2"
                        aria-labelledby="menu2">
                        <a class="dropdown-item" href="https://tooeste.com.br/ler/Esporte/yara clube/">yara clube</a>
                        <a class="dropdown-item" href="https://tooeste.com.br/ler/Esporte/clube toledao/">clube
                            toledao</a>
                        <a class="dropdown-item" href="https://tooeste.com.br/ler/Esporte/brasileirao/">brasileirao</a>
                        <a class="dropdown-item" href="https://tooeste.com.br/ler/Esporte/futebol amador/">futebol
                            amador</a>
                        <a class="dropdown-item" href="https://tooeste.com.br/ler/Esporte/futsal watsap/">futsal
                            watsap</a>
                        <a class="dropdown-item" href="https://tooeste.com.br/ler/Esporte/watsap futebol 7/">watsap
                            futebol 7</a>
                        <a class="dropdown-item" href="https://tooeste.com.br/ler/Esporte/futsal/">futsal</a>
                        <a class="dropdown-item" href="https://tooeste.com.br/ler/Esporte/futebol/">futebol</a>
                        <a class="dropdown-item" href="https://tooeste.com.br/ler/Esporte/esportes amador/">esportes
                            amador</a>
                        <a class="dropdown-item" href="https://tooeste.com.br/ler/Esporte/mais esportes/">mais
                            esportes</a>
                    </div>
                </li>
                <li class=" col nav-item  " style="padding-left: 0;padding-right: 0; min-width:180px;">

                    <a id="menu3" style="padding-left: 0;padding-right: 0;"
                        class="nav-link dropdown-toggle text-capitalize text-color-3" href="#" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Entretenimento</a>
                    <div class="dropdown-menu bg-menu-3 text-left text-uppercase " id="submenu3"
                        aria-labelledby="menu3">
                        <a class="dropdown-item"
                            href="https://tooeste.com.br/ler/Entretenimento/previsao tempo/">previsao tempo</a>
                        <a class="dropdown-item" href="https://tooeste.com.br/ler/Entretenimento/fofocas/">fofocas</a>
                        <a class="dropdown-item" href="https://tooeste.com.br/ler/Entretenimento/novelas/">novelas</a>
                        <a class="dropdown-item" href="https://tooeste.com.br/ler/Entretenimento/cinema/">cinema</a>
                        <a class="dropdown-item"
                            href="https://tooeste.com.br/ler/Entretenimento/teatro e cultura/">teatro e cultura</a>
                        <a class="dropdown-item"
                            href="https://tooeste.com.br/ler/Entretenimento/animais estimacao/">animais estimacao</a>
                        <a class="dropdown-item" href="https://tooeste.com.br/ler/Entretenimento/viagens/">viagens</a>
                        <a class="dropdown-item" href="https://tooeste.com.br/ler/Entretenimento/musica e games/">musica
                            e games</a>
                        <a class="dropdown-item"
                            href="https://tooeste.com.br/ler/Entretenimento/musicas e blogs/">musicas e blogs</a>
                        <a class="dropdown-item"
                            href="https://tooeste.com.br/ler/Entretenimento/Receitas e Dietas/">Receitas e Dietas</a>
                        <a class="dropdown-item" href="https://tooeste.com.br/ler/Entretenimento/Loterias/">Loterias</a>
                        <a class="dropdown-item"
                            href="https://tooeste.com.br/ler/Entretenimento/Horoscopo/">Horoscopo</a>
                        <a class="dropdown-item" href="https://tooeste.com.br/ler/Entretenimento/Humor/">Humor</a>
                    </div>
                </li>
                <li class=" col nav-item  " style="padding-left: 0;padding-right: 0; ">

                    <a id="menu4" style="padding-left: 0;padding-right: 0;"
                        class="nav-link dropdown-toggle text-capitalize text-color-4" href="#" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Fotos</a>
                    <div class="dropdown-menu bg-menu-4 text-left text-uppercase " id="submenu4"
                        aria-labelledby="menu4">
                        <a class="dropdown-item" href="https://tooeste.com.br/Fotos/shoping/">shoping</a>
                        <a class="dropdown-item" href="https://tooeste.com.br/Fotos/bares e  loung/">bares e loung</a>
                        <a class="dropdown-item" href="https://tooeste.com.br/Fotos/festas e eventos/">festas e
                            eventos</a>
                        <a class="dropdown-item" href="https://tooeste.com.br/Fotos/natureza e paisagens/">natureza e
                            paisagens</a>
                    </div>
                </li>
                <li class=" col nav-item  " style="padding-left: 0;padding-right: 0; ">

                    <a id="menu5" style="padding-left: 0;padding-right: 0;"
                        class="nav-link dropdown-toggle text-capitalize text-color-5" href="#" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Vídeos</a>
                    <div class="dropdown-menu bg-menu-5 text-left text-uppercase " id="submenu5"
                        aria-labelledby="menu5">
                        <a class="dropdown-item" href="https://tooeste.com.br/Vídeos/memes/">memes</a>
                        <a class="dropdown-item" href="https://tooeste.com.br/Vídeos/curiosidades/">curiosidades</a>
                        <a class="dropdown-item" href="https://tooeste.com.br/Vídeos/blogueiros locais/">blogueiros
                            locais</a>
                    </div>
                </li>
                <li class=" col nav-item  " style="padding-left: 0;padding-right: 0; ">

                    <a id="menu6" style="padding-left: 0;padding-right: 0;"
                        class="nav-link dropdown-toggle text-capitalize text-color-6" href="#" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">policial</a>
                    <div class="dropdown-menu bg-menu-6 text-left text-uppercase " id="submenu6"
                        aria-labelledby="menu6">
                    </div>
                </li>
                <li class=" col nav-item  " style="padding-left: 0;padding-right: 0; ">

                    <a id="menu7" style="padding-left: 0;padding-right: 0;"
                        class="nav-link dropdown-toggle text-capitalize text-color-7" href="#" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">parana</a>
                    <div class="dropdown-menu bg-menu-7 text-left text-uppercase " id="submenu7"
                        aria-labelledby="menu7">
                    </div>
                </li>

            </ul>
        </div>
    </nav>
</div>