
<div class="row mt-3 ">
    <div class="col-sm-12">
        MAIS VISTAS
    </div>
</div>


<div class="row mt-3 block-row-2">

    <div class="col-sm-3 h-100">
        <div class="h-25 pt-3 menu1"><a class="link-color-1  text-capitalize" href="/Notícias/casa nova pizzaria">casa
                nova pizzaria</a></div>
        <div class="w-100 h-75 bg-menu-1 ">
        </div>
    </div>

    <div class="col-sm-3 h-100">
        <div class="h-25 pt-3 menu1"><a class="link-color-1  text-capitalize"
                href="/Notícias/agro negocios/Número de mortos em Gaza passa de 100; Forças de D">Número de mortos
                em Gaza passa de 100; Forças de D</a></div>
        <div class="w-100 h-75 bg-menu-1 ">
            <a href="/Notícias/agro negocios/Número de mortos em Gaza passa de 100; Forças de D"><img
                    src="https://tooeste.com.br/uploads/noticias/320x240/fundo-madeira.jpg" class="w-100 h-100"></a>
        </div>
    </div>

    <div class="col-sm-3 h-100">
        <div class="h-25 pt-3 menu1"><a class="link-color-1  text-capitalize"
                href="/Notícias/agro negocios/Brasil vê média móvel de mortes por Covid subir ap">Brasil vê média
                móvel de mortes por Covid subir ap</a></div>
        <div class="w-100 h-75 bg-menu-1 ">
            <a href="/Notícias/agro negocios/Brasil vê média móvel de mortes por Covid subir ap"><img
                    src="https://tooeste.com.br/uploads/noticias/320x240/original_0." class="w-100 h-100"></a>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="w-100 h-100 " style="padding-top:60px">
            <div class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href="javascript:void();" title="Star bucks"><img
                                src="https://tooeste.com.br/uploads/anuncio/800x600/logo_famoso_starbucks.jpg"
                                class="d-block w-100 modal_banner" alt="Star bucks" style="height:120px;"
                                fotoexpandida="https://tooeste.com.br/uploads/anuncio/800x600/"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="row mt-3 block-row-2">

    <div class="col-sm-3">
        <a href="/ler/Entretenimento/novelas/VELOZES & FURIOSOS 9 GANHA NOVO VÍDEO" style="text-decoration:none;">
            <div class="card overflow-hidden w-100">
                <div class="row no-gutters">
                    <div class="col-md-4">

                        <img src="https://tooeste.com.br/uploads/noticias/320x240/47da2042-9edc-4a00-b725-440192966bce.jpg"
                            class="card-img">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body" style="padding-top: 5px;">
                            <h6 class="card-title text-color-3">VELOZES & FURIOSOS 9 GANHA NOVO VÍDEO</h6>
                            <h6 class="card-subtitle text-muted mb-2">Novo filme da franquia estreia em junho</h6>
                            <p class="card-text text-dark " style="height: 32px;">
                                Veloz ...
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="col-sm-3">
        <a href="/ler/Fotos/festas e eventos/Baleia jubarte é encontrada morta no litoral do Pa"
            style="text-decoration:none;">
            <div class="card overflow-hidden w-100">
                <div class="row no-gutters">
                    <div class="col-md-4">

                        <img src="https://tooeste.com.br/uploads/noticias/320x240/b1237_0.jpg" class="card-img">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body" style="padding-top: 5px;">
                            <h6 class="card-title text-color-4">Baleia jubarte é encontrada morta no litoral do Pa
                            </h6>
                            <h6 class="card-subtitle text-muted mb-2">Uma baleia jubarte (Megaptera novaeangliae)
                                foi en</h6>
                            <p class="card-text text-dark " style="height: 32px;">
                                Uma baleia jubart ...
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="col-sm-3">
        <a href="/ler/Fotos/festas e eventos/Flores laranjas chamam a atenção para a violência "
            style="text-decoration:none;">
            <div class="card overflow-hidden w-100">
                <div class="row no-gutters">
                    <div class="col-md-4">

                        <img src="https://tooeste.com.br/uploads/noticias/320x240/47da2042-9edc-4a00-b725-440192966bce_1.jpg"
                            class="card-img">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body" style="padding-top: 5px;">
                            <h6 class="card-title text-color-4">Flores laranjas chamam a atenção para a violência
                            </h6>
                            <h6 class="card-subtitle text-muted mb-2"></h6>
                            <p class="card-text text-dark " style="height: 32px;">
                                Segundo dados apr ...
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-3">
        <div class="w-100 h-100 ">
            <div class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href="javascript:void();" title="Mc Donalds"><img
                                src="https://tooeste.com.br/uploads/anuncio/800x600/mcdonalds-logo.jpg"
                                class="d-block w-100 modal_banner" alt="Mc Donalds" style="height:120px;"
                                fotoexpandida="https://tooeste.com.br/uploads/anuncio/800x600/"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3 block-row-2">

    <div class="col-sm-3">
        <a href="/ler/Fotos/festas e eventos/Infraestrutura rural: PAP avança em Toledo, que en"
            style="text-decoration:none;">
            <div class="card overflow-hidden w-100">
                <div class="row no-gutters">
                    <div class="col-md-4">

                        <img src="https://tooeste.com.br/uploads/noticias/320x240/Beirute-Mignon_0.jpg"
                            class="card-img">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body" style="padding-top: 5px;">
                            <h6 class="card-title text-color-4">Infraestrutura rural: PAP avança em Toledo, que en
                            </h6>
                            <h6 class="card-subtitle text-muted mb-2"></h6>
                            <p class="card-text text-dark " style="height: 32px;">
                                Os projetos de in ...
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="col-sm-3">
        <a href="/ler/Vídeos/memes/VEJA AS MELHORES OPÇÕES DE APLICATIVO PARA O SEU C" style="text-decoration:none;">
            <div class="card overflow-hidden w-100">
                <div class="row no-gutters">
                    <div class="col-md-4">

                        <img src="https://tooeste.com.br/uploads/noticias/320x240/47da2042-9edc-4a00-b725-440192966bce_2.jpg"
                            class="card-img">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body" style="padding-top: 5px;">
                            <h6 class="card-title text-color-5">VEJA AS MELHORES OPÇÕES DE APLICATIVO PARA O SEU C
                            </h6>
                            <h6 class="card-subtitle text-muted mb-2">Neste kit estão reunidos os melhores
                                aplicativos e</h6>
                            <p class="card-text text-dark " style="height: 32px;">
                                Neste kit est&ati ...
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="col-sm-3">
        <a href="/ler/Vídeos/memes/Pazuello: 'Bolsonaro nunca mandou cancelar compra " style="text-decoration:none;">
            <div class="card overflow-hidden w-100">
                <div class="row no-gutters">
                    <div class="col-md-4">

                        <img src="https://tooeste.com.br/uploads/noticias/320x240/b1237_1.jpg" class="card-img">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body" style="padding-top: 5px;">
                            <h6 class="card-title text-color-5">Pazuello: 'Bolsonaro nunca mandou cancelar compra
                            </h6>
                            <h6 class="card-subtitle text-muted mb-2">Ex-ministro da Saúde afirmou na CPI da Covid
                                que d</h6>
                            <p class="card-text text-dark " style="height: 32px;">
                                &quot;Naquele mom ...
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-3">
        <div class="w-100 h-100 ">
            <div class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href="javascript:void();" title=""><img
                                src="https://tooeste.com.br/uploads/anuncio/800x600/Huawei-Logo.jpg"
                                class="d-block w-100 modal_banner" alt="" style="height:120px;"
                                fotoexpandida="https://tooeste.com.br/uploads/anuncio/800x600/"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
