<div id="carouselExampleIndicators" class="carousel slide block-row-2" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1" class=""></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2" class=""></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3" class=""></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4" class=""></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="5" class=""></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active block-row-2 bg-menu-1">
            <div style=" 
width:100%;
height:180px;
background: url(https://tooeste.com.br/uploads/noticias/320x240/michel-temer-empossado-presidente-apos-o-impeachme) no-repeat center  ; 
"></div>

            <p class="w-100 text-center mt-1"><a
                    href="https://tooeste.com.br/ler/Notícias/brasil/Temer é aplaudido em restaurante em São Paulo"
                    class="link-color-1"> Temer é aplaudido em restaurante em São Paulo </a></p>
        </div>
        <div class="carousel-item  block-row-2 bg-menu-3">
            <div style=" 
width:100%;
height:180px;
background: url(https://tooeste.com.br/uploads/noticias/320x240/4df81543db10c3963242cf4ea64ddccf.jpg) no-repeat center  ; 
"></div>

            <p class="w-100 text-center mt-1"><a
                    href="https://tooeste.com.br/ler/Entretenimento/Humor/A Eficácia do Riso" class="link-color-3"> A
                    Eficácia do Riso </a></p>
        </div>
        <div class="carousel-item  block-row-2 bg-menu-3">
            <div style=" 
width:100%;
height:180px;
background: url(https://tooeste.com.br/uploads/noticias/320x240/a-grande-muralha-china-537292682107c.jpg) no-repeat center  ; 
"></div>

            <p class="w-100 text-center mt-1"><a
                    href="https://tooeste.com.br/ler/Entretenimento/fofocas/A muralha da China é visível do espaço?"
                    class="link-color-3"> A muralha da China é visível do espaço? </a></p>
        </div>
        <div class="carousel-item  block-row-2 bg-menu-3">
            <div style=" 
width:100%;
height:180px;
background: url(https://tooeste.com.br/uploads/noticias/320x240/kisspng-emoji-screaming-sticker-iphone-fear-5af373) no-repeat center  ; 
"></div>

            <p class="w-100 text-center mt-1"><a href="https://tooeste.com.br/ler/Entretenimento/fofocas/Curiosidades"
                    class="link-color-3"> Curiosidades </a></p>
        </div>
        <div class="carousel-item  block-row-2 bg-menu-2">
            <div style=" 
width:100%;
height:180px;
background: url(https://tooeste.com.br/uploads/noticias/320x240/20210901234849659914u.jpg) no-repeat center  ; 
"></div>

            <p class="w-100 text-center mt-1"><a
                    href="https://tooeste.com.br/ler/Esporte/yara clube/Brasil visita o Chile para se manter 100% nas Eliminatórias Sul-Americanas"
                    class="link-color-2"> Brasil visita o Chile para se manter 100% nas
                    Eliminatórias Sul-Americanas </a></p>
        </div>
        <div class="carousel-item  block-row-2 bg-menu-1">
            <div style=" 
width:100%;
height:180px;
background: url(https://tooeste.com.br/uploads/noticias/320x240/a4eeb6fe11dfeb1780183fd37a39ff3a.jpg) no-repeat center  ; 
"></div>

            <p class="w-100 text-center mt-1"><a href="https://tooeste.com.br/ler/Notícias/politica/Peste negra"
                    class="link-color-1"> Peste negra </a></p>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>