<html>
	<head>
		<link rel="stylesheet" href="/printer/assets/libs/CodeMirror-master/lib/codemirror.css">
		<link rel="stylesheet" href="/printer/assets/libs/CodeMirror-master/theme/monokai.css">
		<link rel="stylesheet" type="text/css" href="/printer/assets/libs/w2ui-master/dist/w2ui-1.5.rc1.css" />

		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
		<link type="text/css" rel="stylesheet" href="//use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
		<style type="text/css">
			.CodeMirror{
				height: -webkit-calc(100% - 50px);
				height: -moz-calc(100% - 50px);
				height: calc(100% - 50px);
			}
		</style>
	</head>
	<body onload="w2desktop.initialize();" unload="return false;" style="margin: 0px;padding: 0px">
		<div id="loader">
			<div class="loader"></div>
		</div>
		<form action="/printer/functionsAjax.php" method="POST" class="form-ajax" style="margin:0;padding:0;margin-block-end: 0;" >
		
			<header style="margin:0;padding:0;">
				<input type="hidden" name="app" value="codeEditor" />
				<input type="hidden" name="functions" value="" />
				
				<div class=""><input id="urldata" name="url" type="text"  value=""   class="w-100"  disabled /></div>
				
				<div class="explorer_menu">
				  <ul class="dropdown">
					<li onmouseover="w2explorer.menuEnable(this)" onmouseout="w2explorer.menuDisable(this)"><a href="#" onclick="return false;">Arquivo</a>
						<ul class="sub_menu">
						 <li id="_explorador" onmouseover="w2explorer.menuEnable(this)" onmouseout="w2explorer.menuDisable(this)" onclick="">
						  <img style="float:left" class="icon_32" src="https://raw.githubusercontent.com/KDE/oxygen-icons/master/32x32/apps/system-file-manager.png">
						  <a  target="#urldata" href="/printer/app/explorer.html" onclick="return false;" modal="true" style="width:50px;height:40px">Abrir</a>
						</li>
						<li onmouseover="w2explorer.menuEnable(this)" onmouseout="w2explorer.menuDisable(this)" id="salvar">
							<img style="float:left" class="icon_32" src="https://raw.githubusercontent.com/KDE/oxygen-icons/master/32x32/actions/document-save.png">
							<a href="#" onclick="return false;" style="width:50px;height:40px">Salvar</a>
						</li>
					  </ul>
					</li>
				  </ul>   
				</div>
				
			
			</header>
			<main style="margin:0;padding:0;">
				<textarea id="myTextArea" type="text" name="code"  /></textarea>
			</main>
		</form >
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="/printer/assets/libs/CodeMirror-master/lib/codemirror.js"></script>
		<script src="/printer/assets/libs/CodeMirror-master/mode/xml/xml.js"></script>
		<script src="/printer/assets/libs/CodeMirror-master/mode/javascript/javascript.js"></script>
		<script src="/printer/assets/libs/CodeMirror-master/mode/css/css.js"></script>
		<script src="/printer/assets/libs/CodeMirror-master/mode/php/php.js"></script>
		<script src="/printer/assets/libs/CodeMirror-master/mode/htmlmixed/htmlmixed.js"></script>
		<script  src="/printer/assets/js/forms.js"></script> 
		<script>
			var myTextarea=document.querySelector("#myTextArea");
			
			var editor = CodeMirror.fromTextArea(myTextarea, {
				lineNumbers: true,
				tabSize: 5,
				mode: "htmlmixed",
				theme: 'monokai'
			}).on('change', editor => {
				var code=editor.getValue();
				$("#myTextArea").val(code);
			});
			$("#_explorador").click(function(event){
				$("#urldata").prop( "disabled", false );
				top.w2desktop.popup($(this).get(0),w2desktop.getPopupID());
			});
			$("#salvar").click(function(event){
				form_atual=$(this).closest("form").get(0);
				$(form_atual).find("input[name='functions']").val("saveServerFile");
				$("#urldata").prop( "disabled", false );
				$.ajax(
					{
						url: $(form_atual).attr("action"),
						dataType: 'html',
						processData: false,
						contentType: false,			
						method: $(form_atual).attr("method"),			
						data:$(form_atual).attr("method")=="POST"?(new FormData(form_atual)):($(form_atual).serialize()),
						beforeSend: function() {
							$('#loader').show();
						},
						complete: function() {
							$('#loader').hide();
						},
						success: function(data, textStatus) {
							alert("Aqruivo "+data+" salvo com sucesso!");
							$("#urldata").prop( "disabled", true );
						},
						error: function(xhr,er) {
						}
					}
				);
			});
			$("#urldata").focus(function(event){
				if((!$("#urldata").is(':disabled'))||($("#urldata").val()="")){
					var form_atual=event.target.form;
					$(form_atual).find("input[name='functions']").val("loadServerFile");
					$.ajax(
						{
							url: $(form_atual).attr("action"),
							dataType: 'html',
							processData: false,
							contentType: false,			
							method: $(form_atual).attr("method"),			
							data:$(form_atual).attr("method")=="POST"?(new FormData(form_atual)):($(form_atual).serialize()),
							beforeSend: function() {
								$('#loader').show();
							},
							complete: function() {
								$('#loader').hide();
							},
							success: function(data, textStatus) {
								
									$("#myTextArea").val(data);
									document.querySelector('.CodeMirror').CodeMirror.setValue(data);
									$("#urldata").prop( "disabled", true );
								
							},
							error: function(xhr,er) {
							}
						}
					);
			
				}
			});
			/*
			
			
			
			
								

			
			
			
			*/
		</script>  

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js" integrity="sha384-lpyLfhYuitXl2zRZ5Bn2fqnhNAKOAaM/0Kr9laMspuaMiZfGmfwRNFh8HlMy49eQ" crossorigin="anonymous"></script>	
		<script type="text/javascript" src="/printer/assets/libs/w2ui-master/dist/w2ui-1.5.rc1.js"></script>
	</body>
</html>
