
<div class="container">
    <div class="row mt-0">
        <div class="col-sm-12">
            <div class="w-100 block-row-1 block-bg-3">
                <div class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <a href="javascript:void();" title="teste"><img
                                    src="https://tooeste.com.br/uploads/anuncio/800x600/full-hd-wallpaper-5840169_1920_8.jpg"
                                    class="d-block w-100 modal_banner" alt="teste" style="height:120px;"
                                    fotoexpandida="https://tooeste.com.br/uploads/anuncio/800x600/full-hd-wallpaper-5840169_1920_7.jpg"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-home>  </app-home>
</div>
