<div class="row mx-0">
    <div class="col-sm-6 px-0 ">
        <div class="w-100 block-row-2-by-3 block-bg-4">
            <div class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href="javascript:void();" title="cleonice "><img
                                src="https://tooeste.com.br/uploads/anuncio/160x120/kisspng-emoji-screaming-sticker-iphone-fear-5af373"
                                class="d-block w-100 modal_banner" alt="cleonice " style="height:120px;"
                                fotoexpandida="https://tooeste.com.br/uploads/anuncio/800x600/b256b7db2cb15db5c4ec241964112e4d.jpg"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 px-0 ">
        <div class="w-100 block-row-2-by-3 block-bg-5">
            <div class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href="javascript:void();" title=""><img
                                src="https://tooeste.com.br/uploads/anuncio/160x120/b256b7db2cb15db5c4ec241964112e4d_0.jpg"
                                class="d-block w-100 modal_banner" alt="" style="height:120px;"
                                fotoexpandida="https://tooeste.com.br/uploads/anuncio/800x600/kisspng-emoji-screaming-sticker-iphone-fear-5af373"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mx-0 mt-3">
    <div class="col-sm-6 px-0 ">
        <div class="w-100 block-row-2-by-3 block-bg-4">
            <div class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href="javascript:void();" title=""><img
                                src="https://tooeste.com.br/uploads/anuncio/160x120/20190306_212613.jpg"
                                class="d-block w-100 modal_banner" alt="" style="height:120px;"
                                fotoexpandida="https://tooeste.com.br/uploads/anuncio/800x600/20190228_204736.jpg"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 px-0 ">
        <div class="w-100 block-row-2-by-3 block-bg-5">
            <div class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href="javascript:void();" title=""><img
                                src="https://tooeste.com.br/uploads/anuncio/160x120/20190307_212355.jpg"
                                class="d-block w-100 modal_banner" alt="" style="height:120px;"
                                fotoexpandida="https://tooeste.com.br/uploads/anuncio/800x600/kisspng-emoji-heart-iphone-love-emoji-5abb33e56ab9"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mx-0 mt-3">
    <div class="col-sm-6 px-0 ">
        <div class="w-100 block-row-2-by-3 block-bg-4">
            <div class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href="javascript:void();" title=""><img
                                src="https://tooeste.com.br/uploads/anuncio/160x120/47da2042-9edc-4a00-b725-440192966bce.jpg"
                                class="d-block w-100 modal_banner" alt="" style="height:120px;"
                                fotoexpandida="https://tooeste.com.br/uploads/anuncio/800x600/Cópia_de_segurança_de_Cópia_de_segurança_de_flyer "></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 px-0 ">
        <div class="w-100 block-row-2-by-3 block-bg-5">
            <div class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href="javascript:void();" title=""><img
                                src="https://tooeste.com.br/uploads/anuncio/160x120/Cópia_de_segurança_de_Cópia_de_segurança_de_flyer "
                                class="d-block w-100 modal_banner" alt="" style="height:120px;"
                                fotoexpandida="https://tooeste.com.br/uploads/anuncio/800x600/Cópia_de_segurança_de_flyer (4) gustavo.jpg"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
