


<div class="row mt-3 block-row-1">
    <div class="col-sm-12 h-100">
        <div class="row h-100">
            <div class="col-sm-9 h-100">
                <div class="row h-100">
                    <div class="col-sm-6 h-100">
                        <div class="w-100 h-100 ">
                            <div class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <a href="javascript:void();" title=""><img
                                                src="https://tooeste.com.br/uploads/anuncio/800x600/download (3).jpeg"
                                                class="d-block w-100 modal_banner" alt="" style="height:120px;"
                                                fotoexpandida="https://tooeste.com.br/uploads/anuncio/800x600/"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 h-100">
                        <div class="w-100 h-100 ">
                            <div class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <a href="javascript:void();" title=""><img
                                                src="https://tooeste.com.br/uploads/anuncio/800x600/road-america-usa-travel.jpg"
                                                class="d-block w-100 modal_banner" alt="" style="height:120px;"
                                                fotoexpandida="https://tooeste.com.br/uploads/anuncio/800x600/"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 h-100">
                <div class="w-100 h-100 ">
                    <div class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <a href="javascript:void();" title="bradesco"><img
                                        src="https://tooeste.com.br/uploads/anuncio/800x600/Bradesco-novo-logo1.jpg"
                                        class="d-block w-100 modal_banner" alt="bradesco" style="height:120px;"
                                        fotoexpandida="https://tooeste.com.br/uploads/anuncio/800x600/"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="row mt-3 block-row-2">
    <div class="col-sm-3 h-100">
        <div class="h-25 pt-3 menu1"><a class="link-color-1 "
                href="https://tooeste.com.br/ler/Notícias/brasil/Em Santa Maria%252C homem é preso após fugir com carro roubado">Em
                Santa Maria, homem é preso após fugir com carro roubado</a></div>
        <div class="w-100 h-75 bg-menu-1 ">
            <a href="https://tooeste.com.br/ler/<br />
<b>Notice</b>:  Undefined variable: noticias_campos_home in <b>/home/u455891610/domains/tooeste.com.br/public_html/mvc/view/site/home.php</b> on line <b>290</b><br />
<br />
<b>Warning</b>:  array_search() expects parameter 2 to be array, null given in <b>/home/u455891610/domains/tooeste.com.br/public_html/mvc/view/site/home.php</b> on line <b>290</b><br />
<br />
<b>Notice</b>:  Undefined variable: noticias_menus in <b>/home/u455891610/domains/tooeste.com.br/public_html/mvc/view/site/home.php</b> on line <b>290</b><br />
<br />
<b>Notice</b>:  Trying to access array offset on value of type null in <b>/home/u455891610/domains/tooeste.com.br/public_html/mvc/view/site/home.php</b> on line <b>290</b><br />
<br />
<b>Notice</b>:  Trying to access array offset on value of type null in <b>/home/u455891610/domains/tooeste.com.br/public_html/mvc/view/site/home.php</b> on line <b>290</b><br />
<br />
<b>Notice</b>:  Trying to access array offset on value of type null in <b>/home/u455891610/domains/tooeste.com.br/public_html/mvc/view/site/home.php</b> on line <b>290</b><br />
"><img src="https://tooeste.com.br/uploads/noticias/320x240/WhatsApp-Image-2021-09-09-at-11.15.45.jpeg"
                    class="w-100 h-100"></a>
        </div>
    </div>
    <div class="col-sm-3 h-100">
        <div class="h-25 pt-3 menu2"><a class="link-color-2 "
                href="https://tooeste.com.br/ler/Esporte/yara clube/Brasil visita o Chile para se manter 100%25 nas Eliminatórias Sul-Americanas">Brasil
                visita o Chile para se manter 100% nas Eliminatórias Sul-Americanas</a></div>
        <div class="w-100 h-75 bg-menu-2 ">
            <a href="https://tooeste.com.br/ler/<br />
<b>Notice</b>:  Undefined variable: noticias_campos_home in <b>/home/u455891610/domains/tooeste.com.br/public_html/mvc/view/site/home.php</b> on line <b>290</b><br />
<br />
<b>Warning</b>:  array_search() expects parameter 2 to be array, null given in <b>/home/u455891610/domains/tooeste.com.br/public_html/mvc/view/site/home.php</b> on line <b>290</b><br />
<br />
<b>Notice</b>:  Undefined variable: noticias_menus in <b>/home/u455891610/domains/tooeste.com.br/public_html/mvc/view/site/home.php</b> on line <b>290</b><br />
<br />
<b>Notice</b>:  Trying to access array offset on value of type null in <b>/home/u455891610/domains/tooeste.com.br/public_html/mvc/view/site/home.php</b> on line <b>290</b><br />
<br />
<b>Notice</b>:  Trying to access array offset on value of type null in <b>/home/u455891610/domains/tooeste.com.br/public_html/mvc/view/site/home.php</b> on line <b>290</b><br />
<br />
<b>Notice</b>:  Trying to access array offset on value of type null in <b>/home/u455891610/domains/tooeste.com.br/public_html/mvc/view/site/home.php</b> on line <b>290</b><br />
"><img src="https://tooeste.com.br/uploads/noticias/320x240/20210901234849659914u.jpg" class="w-100 h-100"></a>
        </div>
    </div>
    <div class="col-sm-3 h-100">
        <div class="h-25 pt-3 menu3"><a class="link-color-3 "
                href="https://tooeste.com.br/ler/Entretenimento/Humor/A Eficácia do Riso">A Eficácia do Riso</a>
        </div>
        <div class="w-100 h-75 bg-menu-3 ">
            <a href="https://tooeste.com.br/ler/<br />
<b>Notice</b>:  Undefined variable: noticias_campos_home in <b>/home/u455891610/domains/tooeste.com.br/public_html/mvc/view/site/home.php</b> on line <b>290</b><br />
<br />
<b>Warning</b>:  array_search() expects parameter 2 to be array, null given in <b>/home/u455891610/domains/tooeste.com.br/public_html/mvc/view/site/home.php</b> on line <b>290</b><br />
<br />
<b>Notice</b>:  Undefined variable: noticias_menus in <b>/home/u455891610/domains/tooeste.com.br/public_html/mvc/view/site/home.php</b> on line <b>290</b><br />
<br />
<b>Notice</b>:  Trying to access array offset on value of type null in <b>/home/u455891610/domains/tooeste.com.br/public_html/mvc/view/site/home.php</b> on line <b>290</b><br />
<br />
<b>Notice</b>:  Trying to access array offset on value of type null in <b>/home/u455891610/domains/tooeste.com.br/public_html/mvc/view/site/home.php</b> on line <b>290</b><br />
<br />
<b>Notice</b>:  Trying to access array offset on value of type null in <b>/home/u455891610/domains/tooeste.com.br/public_html/mvc/view/site/home.php</b> on line <b>290</b><br />
"><img src="https://tooeste.com.br/uploads/noticias/320x240/4df81543db10c3963242cf4ea64ddccf.jpg"
                    class="w-100 h-100"></a>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="w-100 h-100 " style="padding-top:60px">
            <div class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href="javascript:void();" title="mercedes"><img
                                src="https://tooeste.com.br/uploads/anuncio/800x600/mercedes-benz-social-distancing-logo_0.jpg"
                                class="d-block w-100 modal_banner" alt="mercedes" style="height:120px;"
                                fotoexpandida="https://tooeste.com.br/uploads/anuncio/800x600/"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="row mt-3 block-row-2">
    <div class="col-sm-3">
        <a href="https://tooeste.com.br/ler/<br />
<b>Notice</b>:  Undefined variable: noticias_campos_home in <b>/home/u455891610/domains/tooeste.com.br/public_html/mvc/view/site/home.php</b> on line <b>315</b><br />
<br />
<b>Warning</b>:  array_search() expects parameter 2 to be array, null given in <b>/home/u455891610/domains/tooeste.com.br/public_html/mvc/view/site/home.php</b> on line <b>315</b><br />
<br />
<b>Notice</b>:  Undefined variable: noticias_menus in <b>/home/u455891610/domains/tooeste.com.br/public_html/mvc/view/site/home.php</b> on line <b>315</b><br />
<br />
<b>Notice</b>:  Trying to access array offset on value of type null in <b>/home/u455891610/domains/tooeste.com.br/public_html/mvc/view/site/home.php</b> on line <b>315</b><br />
<br />
<b>Notice</b>:  Trying to access array offset on value of type null in <b>/home/u455891610/domains/tooeste.com.br/public_html/mvc/view/site/home.php</b> on line <b>315</b><br />
<br />
<b>Notice</b>:  Trying to access array offset on value of type null in <b>/home/u455891610/domains/tooeste.com.br/public_html/mvc/view/site/home.php</b> on line <b>315</b><br />
" style="text-decoration:none;">
            <div class="card overflow-hidden w-100">
                <div class="row no-gutters">
                    <div class="col-md-4">

                        <img src="https://tooeste.com.br/uploads/noticias/320x240/WhatsApp_Image_20210909_at_125909-1536x1152.jpeg"
                            class="card-img">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body" style="padding-top: 5px;">
                            <h6 class="card-title text-color-1">PM de folga apreende jovem que assaltou drogaria
                            </h6>
                            <h6 class="card-subtitle text-muted mb-2">Os dois suspeitos invadiram o estabelecimento
                                portando facas. Eles renderam os funcionários e fugiram com dinheiro e celulares das
                                vítimas</h6>
                            <p class="card-text text-dark " style="height: 32px;">
                                Por volta de 11h3 ...
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-3">
        <a href="https://tooeste.com.br/ler/<br />
<b>Notice</b>:  Undefined variable: noticias_campos_home in <b>/home/u455891610/domains/tooeste.com.br/public_html/mvc/view/site/home.php</b> on line <b>315</b><br />
<br />
<b>Warning</b>:  array_search() expects parameter 2 to be array, null given in <b>/home/u455891610/domains/tooeste.com.br/public_html/mvc/view/site/home.php</b> on line <b>315</b><br />
<br />
<b>Notice</b>:  Undefined variable: noticias_menus in <b>/home/u455891610/domains/tooeste.com.br/public_html/mvc/view/site/home.php</b> on line <b>315</b><br />
<br />
<b>Notice</b>:  Trying to access array offset on value of type null in <b>/home/u455891610/domains/tooeste.com.br/public_html/mvc/view/site/home.php</b> on line <b>315</b><br />
<br />
<b>Notice</b>:  Trying to access array offset on value of type null in <b>/home/u455891610/domains/tooeste.com.br/public_html/mvc/view/site/home.php</b> on line <b>315</b><br />
<br />
<b>Notice</b>:  Trying to access array offset on value of type null in <b>/home/u455891610/domains/tooeste.com.br/public_html/mvc/view/site/home.php</b> on line <b>315</b><br />
" style="text-decoration:none;">
            <div class="card overflow-hidden w-100">
                <div class="row no-gutters">
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-8">
                        <div class="card-body" style="padding-top: 5px;">
                            <h6 class="card-title text-color-2">Athletico domina Santos em casa, vence e tem vanta
                            </h6>
                            <h6 class="card-subtitle text-muted mb-2">
                                ffffffffffffffffffffffffffffffffffffffffffffffffff</h6>
                            <p class="card-text text-dark " style="height: 32px;">
                                O Athletico-PR do ...
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-3">
        <a href="https://tooeste.com.br/ler/<br />
<b>Notice</b>:  Undefined variable: noticias_campos_home in <b>/home/u455891610/domains/tooeste.com.br/public_html/mvc/view/site/home.php</b> on line <b>315</b><br />
<br />
<b>Warning</b>:  array_search() expects parameter 2 to be array, null given in <b>/home/u455891610/domains/tooeste.com.br/public_html/mvc/view/site/home.php</b> on line <b>315</b><br />
<br />
<b>Notice</b>:  Undefined variable: noticias_menus in <b>/home/u455891610/domains/tooeste.com.br/public_html/mvc/view/site/home.php</b> on line <b>315</b><br />
<br />
<b>Notice</b>:  Trying to access array offset on value of type null in <b>/home/u455891610/domains/tooeste.com.br/public_html/mvc/view/site/home.php</b> on line <b>315</b><br />
<br />
<b>Notice</b>:  Trying to access array offset on value of type null in <b>/home/u455891610/domains/tooeste.com.br/public_html/mvc/view/site/home.php</b> on line <b>315</b><br />
<br />
<b>Notice</b>:  Trying to access array offset on value of type null in <b>/home/u455891610/domains/tooeste.com.br/public_html/mvc/view/site/home.php</b> on line <b>315</b><br />
" style="text-decoration:none;">
            <div class="card overflow-hidden w-100">
                <div class="row no-gutters">
                    <div class="col-md-4">

                        <img src="https://tooeste.com.br/uploads/noticias/320x240/a-grande-muralha-china-537292682107c.jpg"
                            class="card-img">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body" style="padding-top: 5px;">
                            <h6 class="card-title text-color-3">A muralha da China é visível do espaço?</h6>
                            <h6 class="card-subtitle text-muted mb-2">A muralha da China é visível do espaço?</h6>
                            <p class="card-text text-dark " style="height: 32px;">
                                &quot;A Grande Mu ...
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-3">
        <div class="w-100 h-100">
            <div class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href="javascript:void();" title="kalunga"><img
                                src="https://tooeste.com.br/uploads/anuncio/800x600/portifolio-04.jpg"
                                class="d-block w-100 modal_banner" alt="kalunga" style="height:120px;"
                                fotoexpandida="https://tooeste.com.br/uploads/anuncio/800x600/"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>