
<div class="row mt-3 block-row-2">
    <div class="col-sm-3 h-100">
        <div class="h-25 pt-3 menu4"><a class="link-color-4 "
                href="https://tooeste.com.br/ler/Fotos/festas e eventos/Infraestrutura rural%253A PAP avança em Toledo%252C que en">Infraestrutura
                rural: PAP avança em Toledo, que en</a></div>
        <div class="w-100 h-75 bg-menu-4 ">
            <a href="https://tooeste.com.br/ler/<br />
<b>Notice</b>:  Undefined variable: noticias_campos_home in <b>/home/u455891610/domains/tooeste.com.br/public_html/mvc/view/site/home.php</b> on line <b>163</b><br />
<br />
<b>Warning</b>:  array_search() expects parameter 2 to be array, null given in <b>/home/u455891610/domains/tooeste.com.br/public_html/mvc/view/site/home.php</b> on line <b>163</b><br />
<br />
<b>Notice</b>:  Undefined variable: noticias_menus in <b>/home/u455891610/domains/tooeste.com.br/public_html/mvc/view/site/home.php</b> on line <b>163</b><br />
<br />
<b>Notice</b>:  Trying to access array offset on value of type null in <b>/home/u455891610/domains/tooeste.com.br/public_html/mvc/view/site/home.php</b> on line <b>163</b><br />
<br />
<b>Notice</b>:  Trying to access array offset on value of type null in <b>/home/u455891610/domains/tooeste.com.br/public_html/mvc/view/site/home.php</b> on line <b>163</b><br />
<br />
<b>Notice</b>:  Trying to access array offset on value of type null in <b>/home/u455891610/domains/tooeste.com.br/public_html/mvc/view/site/home.php</b> on line <b>163</b><br />
"><img src="https://tooeste.com.br/uploads/noticias/320x240/WhatsApp-Image-2021-09-09-at-11.15.45.jpeg"
                    class="w-100 h-100"></a>
        </div>
    </div>
    <div class="col-sm-3 h-100">
        <div class="h-25 pt-3 menu5"><a class="link-color-5 "
                href="https://tooeste.com.br/ler/Vídeos/memes/A série live-action de Tim Burton sobre ‘A Família">A
                série live-action de Tim Burton sobre ‘A Família</a></div>
        <div class="w-100 h-75 bg-menu-5 ">
            <a href="https://tooeste.com.br/ler/<br />
<b>Notice</b>:  Undefined variable: noticias_campos_home in <b>/home/u455891610/domains/tooeste.com.br/public_html/mvc/view/site/home.php</b> on line <b>163</b><br />
<br />
<b>Warning</b>:  array_search() expects parameter 2 to be array, null given in <b>/home/u455891610/domains/tooeste.com.br/public_html/mvc/view/site/home.php</b> on line <b>163</b><br />
<br />
<b>Notice</b>:  Undefined variable: noticias_menus in <b>/home/u455891610/domains/tooeste.com.br/public_html/mvc/view/site/home.php</b> on line <b>163</b><br />
<br />
<b>Notice</b>:  Trying to access array offset on value of type null in <b>/home/u455891610/domains/tooeste.com.br/public_html/mvc/view/site/home.php</b> on line <b>163</b><br />
<br />
<b>Notice</b>:  Trying to access array offset on value of type null in <b>/home/u455891610/domains/tooeste.com.br/public_html/mvc/view/site/home.php</b> on line <b>163</b><br />
<br />
<b>Notice</b>:  Trying to access array offset on value of type null in <b>/home/u455891610/domains/tooeste.com.br/public_html/mvc/view/site/home.php</b> on line <b>163</b><br />
"><img src="https://tooeste.com.br/uploads/noticias/320x240/20210901234849659914u.jpg" class="w-100 h-100"></a>
        </div>
    </div>
    <div class="col-sm-3 h-100">
        <div class="h-25 pt-3 menu6"><a class="link-color-6 " href="https://tooeste.com.br/ler/"></a></div>
        <div class="w-100 h-75 bg-menu-6 ">
            <a href="https://tooeste.com.br/ler/<br />
<b>Notice</b>:  Undefined variable: noticias_campos_home in <b>/home/u455891610/domains/tooeste.com.br/public_html/mvc/view/site/home.php</b> on line <b>163</b><br />
<br />
<b>Warning</b>:  array_search() expects parameter 2 to be array, null given in <b>/home/u455891610/domains/tooeste.com.br/public_html/mvc/view/site/home.php</b> on line <b>163</b><br />
<br />
<b>Notice</b>:  Undefined variable: noticias_menus in <b>/home/u455891610/domains/tooeste.com.br/public_html/mvc/view/site/home.php</b> on line <b>163</b><br />
<br />
<b>Notice</b>:  Trying to access array offset on value of type null in <b>/home/u455891610/domains/tooeste.com.br/public_html/mvc/view/site/home.php</b> on line <b>163</b><br />
<br />
<b>Notice</b>:  Trying to access array offset on value of type null in <b>/home/u455891610/domains/tooeste.com.br/public_html/mvc/view/site/home.php</b> on line <b>163</b><br />
<br />
<b>Notice</b>:  Trying to access array offset on value of type null in <b>/home/u455891610/domains/tooeste.com.br/public_html/mvc/view/site/home.php</b> on line <b>163</b><br />
"><img src="https://tooeste.com.br/uploads/noticias/320x240/4df81543db10c3963242cf4ea64ddccf.jpg"
                    class="w-100 h-100"></a>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="w-100 h-100 " style="padding-top:60px">
            <div class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href="javascript:void();" title="mercado livre"><img
                                src="https://tooeste.com.br/uploads/anuncio/800x600/mercado-livre.jpg"
                                class="d-block w-100 modal_banner" alt="mercado livre" style="height:120px;"
                                fotoexpandida="https://tooeste.com.br/uploads/anuncio/800x600/"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row mt-3 block-row-2">
    <div class="col-sm-3">
        <a href="https://tooeste.com.br/ler/Fotos/festas e eventos/Flores laranjas chamam a atenção para a violência "
            style="text-decoration:none;">
            <div class="card overflow-hidden w-100">
                <div class="row no-gutters">
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-8">
                        <div class="card-body" style="padding-top: 5px;">
                            <h6 class="card-title text-color-4">Flores laranjas chamam a atenção para a violência
                            </h6>
                            <h6 class="card-subtitle text-muted mb-2"></h6>
                            <p class="card-text text-dark " style="height: 32px;">
                                Segundo dados apr ...
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-3">
        <a href="https://tooeste.com.br/ler/Vídeos/memes/Pazuello%253A %2527Bolsonaro nunca mandou cancelar compra "
            style="text-decoration:none;">
            <div class="card overflow-hidden w-100">
                <div class="row no-gutters">
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-8">
                        <div class="card-body" style="padding-top: 5px;">
                            <h6 class="card-title text-color-5">Pazuello: 'Bolsonaro nunca mandou cancelar compra
                            </h6>
                            <h6 class="card-subtitle text-muted mb-2">Ex-ministro da Saúde afirmou na CPI da Covid
                                que d</h6>
                            <p class="card-text text-dark " style="height: 32px;">
                                &quot;Naquele mom ...
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-3">
        <a href="https://tooeste.com.br/ler/" style="text-decoration:none;">
            <div class="card overflow-hidden w-100">
                <div class="row no-gutters">
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-8">
                        <div class="card-body" style="padding-top: 5px;">
                            <h6 class="card-title text-color-6"></h6>
                            <h6 class="card-subtitle text-muted mb-2"></h6>
                            <p class="card-text text-dark " style="height: 32px;">

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-3">
        <div class="w-100 h-100 ">
            <div class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href="javascript:void();" title="amazon"><img
                                src="https://tooeste.com.br/uploads/anuncio/800x600/logomarca-Amazon-1024x614.jpg"
                                class="d-block w-100 modal_banner" alt="amazon" style="height:120px;"
                                fotoexpandida="https://tooeste.com.br/uploads/anuncio/800x600/"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row mt-3 block-row-2">
    <div class="col-sm-3">
        <a href="https://tooeste.com.br/ler/Fotos/festas e eventos/Baleia jubarte é encontrada morta no litoral do Pa"
            style="text-decoration:none;">
            <div class="card overflow-hidden w-100">
                <div class="row no-gutters">
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-8">
                        <div class="card-body" style="padding-top: 5px;">
                            <h6 class="card-title text-color-4">Baleia jubarte é encontrada morta no litoral do Pa
                            </h6>
                            <h6 class="card-subtitle text-muted mb-2">Uma baleia jubarte (Megaptera novaeangliae)
                                foi en</h6>
                            <p class="card-text text-dark " style="height: 32px;">
                                Uma baleia jubart ...
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-3">
        <a href="https://tooeste.com.br/ler/Vídeos/memes/VEJA AS MELHORES OPÇÕES DE APLICATIVO PARA O SEU C"
            style="text-decoration:none;">
            <div class="card overflow-hidden w-100">
                <div class="row no-gutters">
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-8">
                        <div class="card-body" style="padding-top: 5px;">
                            <h6 class="card-title text-color-5">VEJA AS MELHORES OPÇÕES DE APLICATIVO PARA O SEU C
                            </h6>
                            <h6 class="card-subtitle text-muted mb-2">Neste kit estão reunidos os melhores
                                aplicativos e</h6>
                            <p class="card-text text-dark " style="height: 32px;">
                                Neste kit est&ati ...
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-3">
        <a href="https://tooeste.com.br/ler/" style="text-decoration:none;">
            <div class="card overflow-hidden w-100">
                <div class="row no-gutters">
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-8">
                        <div class="card-body" style="padding-top: 5px;">
                            <h6 class="card-title text-color-6"></h6>
                            <h6 class="card-subtitle text-muted mb-2"></h6>
                            <p class="card-text text-dark " style="height: 32px;">

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-3">
        <div class="w-100 h-100 ">
            <div class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href="javascript:void();" title="Burger king"><img
                                src="https://tooeste.com.br/uploads/anuncio/800x600/Burger-King-logo-novo-e-antigo.jpg"
                                class="d-block w-100 modal_banner" alt="Burger king" style="height:120px;"
                                fotoexpandida="https://tooeste.com.br/uploads/anuncio/800x600/"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

