<div class="row mt-0 block-row-2 py-0">
    <div class="col-sm-3 h-100">
        <div class="h-25 pt-3 menu1"><a class="link-color-1 "
                href="https://tooeste.com.br/ler/Notícias/brasil/Fiocruz prevê vacina com produção 100%25 nacional só no fim deste ano">Fiocruz
                prevê vacina com produção 100% nacional só no fim deste ano</a></div>
        <div class="w-100 h-75 bg-menu-1 ">
            <a
                href="https://tooeste.com.br/ler/Notícias/brasil/Fiocruz prevê vacina com produção 100%25 nacional só no fim deste ano"><img
                    src="https://tooeste.com.br/uploads/noticias/320x240/vacina-astrazenaca-de-oxford-fiocruz-1907202120013"
                    class="w-100 h-100"></a>
        </div>
    </div>
    <div class="col-sm-3 h-100">
        <div class="h-25 pt-3 menu2"><a class="link-color-2 "
                href="https://tooeste.com.br/ler/Esporte/yara clube/Carol Santiago garante o terceiro ouro nas Paralimpíadas%252C e Brasil supera campanha nos Jogos do Rio">Carol
                Santiago garante o terceiro ouro nas Paralimpíadas, e Brasil supera campanha nos Jogos do Rio</a>
        </div>
        <div class="w-100 h-75 bg-menu-2 ">
            <a
                href="https://tooeste.com.br/ler/Esporte/yara clube/Carol Santiago garante o terceiro ouro nas Paralimpíadas%252C e Brasil supera campanha nos Jogos do Rio"><img
                    src="https://tooeste.com.br/uploads/noticias/320x240/612f68a4d9d78.jpeg" class="w-100 h-100"></a>
        </div>
    </div>
    <div class="col-sm-3 h-100">
        <div class="h-25 pt-3 menu3"><a class="link-color-3 "
                href="https://tooeste.com.br/ler/Entretenimento/Humor/Baralho">Baralho</a></div>
        <div class="w-100 h-75 bg-menu-3 ">
            <a href="https://tooeste.com.br/ler/Entretenimento/Humor/Baralho"><img
                    src="https://tooeste.com.br/uploads/noticias/320x240/baralho(1).jpg" class="w-100 h-100"></a>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="w-100 h-100 " style="padding-top:60px">
            <div class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href="javascript:void();" title="Sabesp"><img
                                src="https://tooeste.com.br/uploads/anuncio/800x600/6dec85ba97f126b10cba026d3a036466.jpg"
                                class="d-block w-100 modal_banner" alt="Sabesp" style="height:120px;"
                                fotoexpandida="https://tooeste.com.br/uploads/anuncio/800x600/"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row mt-3 block-row-2">
    <div class="col-sm-3">
        <a href="https://tooeste.com.br/ler/Notícias/brasil/Média de óbitos é a menor desde outubro de 2020"
            style="text-decoration:none;">
            <div class="card overflow-hidden w-100">
                <div class="row no-gutters">
                    <div class="col-md-4">

                        <img src="https://tooeste.com.br/uploads/noticias/320x240/vacina-covid-19-30082021152409288.jpeg"
                            class="card-img">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body" style="padding-top: 5px;">
                            <h6 class="card-title text-color-1">Média de óbitos é a menor desde outubro de 2020</h6>
                            <h6 class="card-subtitle text-muted mb-2">Pais registra 672 mortes e 15.951 novos casos
                                em 24h; mais de 20 milhões de pessoas já se recuperaram da covid-19</h6>
                            <p class="card-text text-dark " style="height: 32px;">
                                Nesta sexta-feira ...
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-3">
        <a href="https://tooeste.com.br/ler/Esporte/yara clube/Vôlei sentado%253A Seleção feminina vence a Itália e segue invicta nos Jogos Paralímpicos de Tóquio"
            style="text-decoration:none;">
            <div class="card overflow-hidden w-100">
                <div class="row no-gutters">
                    <div class="col-md-4">

                        <img src="https://tooeste.com.br/uploads/noticias/320x240/612f668487c36_0.jpeg"
                            class="card-img">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body" style="padding-top: 5px;">
                            <h6 class="card-title text-color-2">Vôlei sentado: Seleção feminina vence a Itália e
                                segue invicta nos Jogos Paralímpicos de Tóquio</h6>
                            <h6 class="card-subtitle text-muted mb-2">Brasileiras agora aguardam adversárias das
                                semifinais, que sai da partida entre Estados Unidos e Comitê Paralímpico Russo</h6>
                            <p class="card-text text-dark " style="height: 32px;">
                                No primeiro set, ...
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-3">
        <a href="https://tooeste.com.br/ler/Entretenimento/Humor/As Mil e uma Noites" style="text-decoration:none;">
            <div class="card overflow-hidden w-100">
                <div class="row no-gutters">
                    <div class="col-md-4">

                        <img src="https://tooeste.com.br/uploads/noticias/320x240/mil-noites.jpg" class="card-img">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body" style="padding-top: 5px;">
                            <h6 class="card-title text-color-3">As Mil e uma Noites</h6>
                            <h6 class="card-subtitle text-muted mb-2">Os contos que encantaram o mundo</h6>
                            <p class="card-text text-dark " style="height: 32px;">
                                Quem nunca ouviu ...
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-3">
        <div class="w-100 h-100 ">
            <div class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href="javascript:void();" title="Mc Donalds"><img
                                src="https://tooeste.com.br/uploads/anuncio/800x600/mcdonalds-logo.jpg"
                                class="d-block w-100 modal_banner" alt="Mc Donalds" style="height:120px;"
                                fotoexpandida="https://tooeste.com.br/uploads/anuncio/800x600/"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3 block-row-2">
    <div class="col-sm-3">
        <a href="https://tooeste.com.br/ler/Notícias/brasil/Temer é aplaudido em restaurante em São Paulo"
            style="text-decoration:none;">
            <div class="card overflow-hidden w-100">
                <div class="row no-gutters">
                    <div class="col-md-4">

                        <img src="https://tooeste.com.br/uploads/noticias/320x240/michel-temer-empossado-presidente-apos-o-impeachme"
                            class="card-img">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body" style="padding-top: 5px;">
                            <h6 class="card-title text-color-1">Temer é aplaudido em restaurante em São Paulo</h6>
                            <h6 class="card-subtitle text-muted mb-2">Após atuar para frear a crise entre Bolsonaro
                                e o STF, ex-presidente fatura politicamente com imagem de conciliador</h6>
                            <p class="card-text text-dark " style="height: 32px;">
                                O dia de gl&oacut ...
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-3">
        <a href="https://tooeste.com.br/ler/Esporte/yara clube/Fenômeno Daniel Dias dá adeus às piscinas em quarto nos 50m livre"
            style="text-decoration:none;">
            <div class="card overflow-hidden w-100">
                <div class="row no-gutters">
                    <div class="col-md-4">

                        <img src="https://tooeste.com.br/uploads/noticias/320x240/612f668487c36.jpeg" class="card-img">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body" style="padding-top: 5px;">
                            <h6 class="card-title text-color-2">Fenômeno Daniel Dias dá adeus às piscinas em quarto
                                nos 50m livre</h6>
                            <h6 class="card-subtitle text-muted mb-2">Dono de 27 medalhas em Jogos Paralímpicos,
                                sendo 14 de ouro, brasileiro encerrou a última prova de sua carreira com o tempo de
                                32s12. Chineses dominaram o pódio</h6>
                            <p class="card-text text-dark " style="height: 32px;">
                                O brasileiro Dani ...
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-3">
        <a href="https://tooeste.com.br/ler/Entretenimento/Humor/A origem do sobrenome" style="text-decoration:none;">
            <div class="card overflow-hidden w-100">
                <div class="row no-gutters">
                    <div class="col-md-4">

                        <img src="https://tooeste.com.br/uploads/noticias/320x240/Origem do Sobrenome - BRASIL ESCOLA.jpg"
                            class="card-img">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body" style="padding-top: 5px;">
                            <h6 class="card-title text-color-3">A origem do sobrenome</h6>
                            <h6 class="card-subtitle text-muted mb-2">A invenção dos sobrenomes foi realizada das
                                mais distintas formas</h6>
                            <p class="card-text text-dark " style="height: 32px;">
                                &ldquo;Ei! voc&ec ...
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-3">
        <div class="w-100 h-100 ">
            <div class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href="javascript:void();" title=""><img
                                src="https://tooeste.com.br/uploads/anuncio/800x600/Huawei-Logo.jpg"
                                class="d-block w-100 modal_banner" alt="" style="height:120px;"
                                fotoexpandida="https://tooeste.com.br/uploads/anuncio/800x600/"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
