<div class="row mt-2">
    <div class="col-sm-6">
        <div class="w-100 block-row-2 block-bg-3">
            <div class="w-100 h-100 bg-menu-4">
                <app-slide-show></app-slide-show>
            </div>
        </div>
    </div>
    <div class="col-sm-3" id="anuncio_eventos">
        <app-events-banner></app-events-banner>
    </div>
    <div class="col-sm-3">
        <div class="row block-row-1 mx-0 pb-2 ">
            <div class="w-100 ">
                <div class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <a href="javascript:void();" title="copel"><img
                                    src="https://tooeste.com.br/uploads/anuncio/800x600/3PTCMP3k_400x400.jpg"
                                    class="d-block w-100 modal_banner" alt="copel" style="height:120px;"
                                    fotoexpandida="https://tooeste.com.br/uploads/anuncio/800x600/"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row block-row-1 mx-0 pt-2">
            <div class="w-100 ">
                <div class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <a href="javascript:void();" title="embrapa"><img
                                    src="https://tooeste.com.br/uploads/anuncio/800x600/download_0.jpg"
                                    class="d-block w-100 modal_banner" alt="embrapa" style="height:120px;"
                                    fotoexpandida="https://tooeste.com.br/uploads/anuncio/800x600/"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-block-news1></app-block-news1>


<div class="row mt-3 block-row-1">
    <div class="col-sm-12 h-100">
        <div class="row h-100">
            <div class="col-sm-9 h-100">
                <div class="row h-100">
                    <div class="col-sm-6 h-100">
                        <div class="w-100 h-100 ">
                            <div class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <a href="javascript:void();" title=""><img
                                                src="https://tooeste.com.br/uploads/anuncio/800x600/download.e.jpeg"
                                                class="d-block w-100 modal_banner" alt="" style="height:120px;"
                                                fotoexpandida="https://tooeste.com.br/uploads/anuncio/800x600/"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 h-100">
                        <div class="w-100 h-100 ">
                            <div class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <a href="javascript:void();" title=""><img
                                                src="https://tooeste.com.br/uploads/anuncio/800x600/download (1).jpeg"
                                                class="d-block w-100 modal_banner" alt="" style="height:120px;"
                                                fotoexpandida="https://tooeste.com.br/uploads/anuncio/800x600/"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 h-100">
                <div class="w-100 h-100 ">
                    <div class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <a href="javascript:void();" title="nike"><img
                                        src="https://tooeste.com.br/uploads/anuncio/800x600/Nike-Logo.jpg"
                                        class="d-block w-100 modal_banner" alt="nike" style="height:120px;"
                                        fotoexpandida="https://tooeste.com.br/uploads/anuncio/800x600/"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row mt-3 block-row-2">
    <div class="col-sm-3">
        <div class="h-25 pt-3 menu1"><a class="link-color-1"
                href="https://tooeste.com.br/ler/Entretenimento/Horoscopo/">HOROSCOPO</a></div>
        <img src="http://tooeste.com.br/assets/img/signs-of-the-zodiac-160494_1280.png" class="w-100 h-75">
    </div>
    <div class="col-sm-3">
        <div class="h-25 pt-3 menu1"><a class="link-color-1"
                href="https://tooeste.com.br/ler/Entretenimento/cinema/">CINEMA</a></div>
        <img src="http://tooeste.com.br/assets/img/hollywoodfilm-cinema-board-c.jpg" class="w-100 h-75">
    </div>
    <div class="col-sm-3">
        <div class="h-25 pt-3 menu1"><a class="link-color-1"
                href="https://tooeste.com.br/ler/Entretenimento/Humor/">HUMOR</a></div>
        <img src="http://tooeste.com.br/assets/img/Smilies-Face-Emoticon-Happy-Smiley-Yellow-Smile-163510.jpg"
            class="w-100 h-75">
    </div>
    <div class="col-sm-3">
        <div class="w-100 h-100 " style="padding-top:60px">
            <div class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href="javascript:void();" title="twitter"><img
                                src="https://tooeste.com.br/uploads/anuncio/800x600/twitter-logo.jpg"
                                class="d-block w-100 modal_banner" alt="twitter" style="height:120px;"
                                fotoexpandida="https://tooeste.com.br/uploads/anuncio/800x600/"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row mt-3 block-row-1">
    <div class="col-sm-12 h-100">
        <div class="row h-100">
            <div class="col-sm-9 h-100">
                <div class="row h-100">
                    <div class="col-sm-6 h-100">
                        <div class="w-100 h-100 ">
                            <div class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <a href="javascript:void();" title=""><img
                                                src="https://tooeste.com.br/uploads/anuncio/800x600/happiness-trip-dom-preview.jpg"
                                                class="d-block w-100 modal_banner" alt="" style="height:120px;"
                                                fotoexpandida="https://tooeste.com.br/uploads/anuncio/800x600/"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 h-100">
                        <div class="w-100 h-100 ">
                            <div class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <a href="javascript:void();" title=""><img
                                                src="https://tooeste.com.br/uploads/anuncio/800x600/download (2).jpeg"
                                                class="d-block w-100 modal_banner" alt="" style="height:120px;"
                                                fotoexpandida="https://tooeste.com.br/uploads/anuncio/800x600/"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 h-100">
                <div class="w-100 h-100 ">
                    <div class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <a href="javascript:void();" title="facebook"><img
                                        src="https://tooeste.com.br/uploads/anuncio/800x600/images.jpg"
                                        class="d-block w-100 modal_banner" alt="facebook" style="height:120px;"
                                        fotoexpandida="https://tooeste.com.br/uploads/anuncio/800x600/"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row mt-3 block-row-2">
    <div class="col-sm-3">
        <div class="h-25 pt-3 menu1"><a class="link-color-1"
                href="https://tooeste.com.br/ler/Entretenimento/previsao%20tempo/">CLIMA TEMPO</a></div>
        <a class="link-color-1" href="https://tooeste.com.br/ler/Entretenimento/previsao%20tempo/"><img
                src="https://tooeste.com.br/assets/img/weather-2017515_1280.png" class="w-100 h-75"
                style="overflow:hidden"></a>
    </div>
    <div class="col-sm-3">
        <div class="h-25 pt-3 menu1"><a class="link-color-1"
                href="https://tooeste.com.br/ler/Entretenimento/Receitas%20e%20Dietas/">RECEITAS E DIETAS</a></div>
        <img src="https://tooeste.com.br/assets/img/diet-snack-health-food-preview.jpg" class="w-100 h-75"
            style="overflow:hidden">
    </div>
    <div class="col-sm-3">
        <div class="h-25 pt-3 menu1"><a class="link-color-1"
                href="https://tooeste.com.br/ler/Entretenimento/Loterias/">LOTERIAS</a></div>
        <img src="https://tooeste.com.br/assets/img/trevo-significado-1024x1024.jpg" class="w-100 h-75"
            style="overflow:hidden">
    </div>
    <div class="col-sm-3">
        <div class="w-100 h-100 " style="padding-top:60px">
            <div class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href="javascript:void();" title="bmw"><img
                                src="https://tooeste.com.br/uploads/anuncio/800x600/images (1).jpeg"
                                class="d-block w-100 modal_banner" alt="bmw" style="height:120px;"
                                fotoexpandida="https://tooeste.com.br/uploads/anuncio/800x600/"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-block-news3></app-block-news3>



<div class="row mt-3 block-row-2">
    <div class="col-sm-3">
        <a href="https://tooeste.com.br/ler/<br />
<b>Notice</b>:  Undefined variable: noticias_campos_home in <b>/home/u455891610/domains/tooeste.com.br/public_html/mvc/view/site/home.php</b> on line <b>315</b><br />
<br />
<b>Warning</b>:  array_search() expects parameter 2 to be array, null given in <b>/home/u455891610/domains/tooeste.com.br/public_html/mvc/view/site/home.php</b> on line <b>315</b><br />
<br />
<b>Notice</b>:  Undefined variable: noticias_menus in <b>/home/u455891610/domains/tooeste.com.br/public_html/mvc/view/site/home.php</b> on line <b>315</b><br />
<br />
<b>Notice</b>:  Trying to access array offset on value of type null in <b>/home/u455891610/domains/tooeste.com.br/public_html/mvc/view/site/home.php</b> on line <b>315</b><br />
<br />
<b>Notice</b>:  Trying to access array offset on value of type null in <b>/home/u455891610/domains/tooeste.com.br/public_html/mvc/view/site/home.php</b> on line <b>315</b><br />
<br />
<b>Notice</b>:  Trying to access array offset on value of type null in <b>/home/u455891610/domains/tooeste.com.br/public_html/mvc/view/site/home.php</b> on line <b>315</b><br />
" style="text-decoration:none;">
            <div class="card overflow-hidden w-100">
                <div class="row no-gutters">
                    <div class="col-md-4">

                        <img src="https://tooeste.com.br/uploads/noticias/320x240/Cadeia.jpg" class="card-img">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body" style="padding-top: 5px;">
                            <h6 class="card-title text-color-1">Suspeita de matar pai carbonizado diz ter se
                                inspirado em filme</h6>
                            <h6 class="card-subtitle text-muted mb-2">Segundo o ex-namorado da acusada, ela teria
                                sido abusada sexualmente durante a adolescência e queria se vingar do pai</h6>
                            <p class="card-text text-dark " style="height: 32px;">
                                Acusada de assass ...
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-3">
        <a href="https://tooeste.com.br/ler/<br />
<b>Notice</b>:  Undefined variable: noticias_campos_home in <b>/home/u455891610/domains/tooeste.com.br/public_html/mvc/view/site/home.php</b> on line <b>315</b><br />
<br />
<b>Warning</b>:  array_search() expects parameter 2 to be array, null given in <b>/home/u455891610/domains/tooeste.com.br/public_html/mvc/view/site/home.php</b> on line <b>315</b><br />
<br />
<b>Notice</b>:  Undefined variable: noticias_menus in <b>/home/u455891610/domains/tooeste.com.br/public_html/mvc/view/site/home.php</b> on line <b>315</b><br />
<br />
<b>Notice</b>:  Trying to access array offset on value of type null in <b>/home/u455891610/domains/tooeste.com.br/public_html/mvc/view/site/home.php</b> on line <b>315</b><br />
<br />
<b>Notice</b>:  Trying to access array offset on value of type null in <b>/home/u455891610/domains/tooeste.com.br/public_html/mvc/view/site/home.php</b> on line <b>315</b><br />
<br />
<b>Notice</b>:  Trying to access array offset on value of type null in <b>/home/u455891610/domains/tooeste.com.br/public_html/mvc/view/site/home.php</b> on line <b>315</b><br />
" style="text-decoration:none;">
            <div class="card overflow-hidden w-100">
                <div class="row no-gutters">
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-8">
                        <div class="card-body" style="padding-top: 5px;">
                            <h6 class="card-title text-color-2">Bordeaux recua por Vitinho, do Athletico-PR, mas D
                            </h6>
                            <h6 class="card-subtitle text-muted mb-2">Fair play financeiro prejudicou investida do
                                time </h6>
                            <p class="card-text text-dark " style="height: 32px;">
                                O atleta chegou a ...
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-3">
        <a href="https://tooeste.com.br/ler/<br />
<b>Notice</b>:  Undefined variable: noticias_campos_home in <b>/home/u455891610/domains/tooeste.com.br/public_html/mvc/view/site/home.php</b> on line <b>315</b><br />
<br />
<b>Warning</b>:  array_search() expects parameter 2 to be array, null given in <b>/home/u455891610/domains/tooeste.com.br/public_html/mvc/view/site/home.php</b> on line <b>315</b><br />
<br />
<b>Notice</b>:  Undefined variable: noticias_menus in <b>/home/u455891610/domains/tooeste.com.br/public_html/mvc/view/site/home.php</b> on line <b>315</b><br />
<br />
<b>Notice</b>:  Trying to access array offset on value of type null in <b>/home/u455891610/domains/tooeste.com.br/public_html/mvc/view/site/home.php</b> on line <b>315</b><br />
<br />
<b>Notice</b>:  Trying to access array offset on value of type null in <b>/home/u455891610/domains/tooeste.com.br/public_html/mvc/view/site/home.php</b> on line <b>315</b><br />
<br />
<b>Notice</b>:  Trying to access array offset on value of type null in <b>/home/u455891610/domains/tooeste.com.br/public_html/mvc/view/site/home.php</b> on line <b>315</b><br />
" style="text-decoration:none;">
            <div class="card overflow-hidden w-100">
                <div class="row no-gutters">
                    <div class="col-md-4">

                        <img src="https://tooeste.com.br/uploads/noticias/320x240/5c9ea060ec9faa2122a84f079d983bd4.jpg"
                            class="card-img">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body" style="padding-top: 5px;">
                            <h6 class="card-title text-color-3">A luz do Vaga-lume</h6>
                            <h6 class="card-subtitle text-muted mb-2">As emissões luminosas dos vaga-lumes são
                                chamadas de bioluminescência</h6>
                            <p class="card-text text-dark " style="height: 32px;">
                                O vaga-lume &eacu ...
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-3">
        <div class="w-100 h-100">
            <div class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href="javascript:void();" title="Carrefour"><img
                                src="https://tooeste.com.br/uploads/anuncio/800x600/Carrefour-Logo.jpg"
                                class="d-block w-100 modal_banner" alt="Carrefour" style="height:120px;"
                                fotoexpandida="https://tooeste.com.br/uploads/anuncio/800x600/"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="row mt-3 block-row-1">
    <div class="col-sm-12 h-100">
        <div class="row h-100">
            <div class="col-sm-9 h-100">
                <div class="row h-100">
                    <div class="col-sm-6 h-100">
                        <div class="w-100 h-100 ">
                            <div class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <a href="javascript:void();" title=""><img
                                                src="https://tooeste.com.br/uploads/anuncio/800x600/download (4)_0.jpeg"
                                                class="d-block w-100 modal_banner" alt="" style="height:120px;"
                                                fotoexpandida="https://tooeste.com.br/uploads/anuncio/800x600/"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 h-100">
                        <div class="w-100 h-100 ">
                            <div class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <a href="javascript:void();" title=""><img
                                                src="https://tooeste.com.br/uploads/anuncio/800x600/9239695603_6d447916af_b_0.jpg"
                                                class="d-block w-100 modal_banner" alt="" style="height:120px;"
                                                fotoexpandida="https://tooeste.com.br/uploads/anuncio/800x600/"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 h-100">
                <div class="w-100 h-100">
                    <div class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <a href="javascript:void();" title="Instagram"><img
                                        src="https://tooeste.com.br/uploads/anuncio/800x600/images (2).jpeg"
                                        class="d-block w-100 modal_banner" alt="Instagram" style="height:120px;"
                                        fotoexpandida="https://tooeste.com.br/uploads/anuncio/800x600/"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-3 block-row-1">
    <div class="col-sm-12 h-100">
        <div class="w-100 h-100 ">
            <div class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href="javascript:void();" title=""><img
                                src="https://tooeste.com.br/uploads/anuncio/800x600/Panoramica_da_Represa_de_Sobradinho.jpg"
                                class="d-block w-100 modal_banner" alt="" style="height:120px;"
                                fotoexpandida="https://tooeste.com.br/uploads/anuncio/800x600/"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!--<app-block-news-top-vews></app-block-news-top-vews>-->


<div class="row mt-3 block-row-1">
    <div class="col-sm-12 h-100">
        <div class="row h-100">
            <div class="col-sm-9 h-100">
                <div class="row h-100">
                    <div class="col-sm-6 h-100">
                        <div class="w-100 h-100 ">
                            <div class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <a href="javascript:void();" title=""><img
                                                src="https://tooeste.com.br/uploads/anuncio/800x600/download (5).jpeg"
                                                class="d-block w-100 modal_banner" alt="" style="height:120px;"
                                                fotoexpandida="https://tooeste.com.br/uploads/anuncio/800x600/"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 h-100">
                        <div class="w-100 h-100 ">
                            <div class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <a href="javascript:void();" title=""><img
                                                src="https://tooeste.com.br/uploads/anuncio/800x600/journey-with-grandfather.jpg"
                                                class="d-block w-100 modal_banner" alt="" style="height:120px;"
                                                fotoexpandida="https://tooeste.com.br/uploads/anuncio/800x600/"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 h-100">
                <div class="w-100 h-100 ">
                    <div class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <a href="javascript:void();" title=""><img
                                        src="https://tooeste.com.br/uploads/anuncio/800x600/g-logo.jpg"
                                        class="d-block w-100 modal_banner" alt="" style="height:120px;"
                                        fotoexpandida="https://tooeste.com.br/uploads/anuncio/800x600/"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-3 block-row-1">
    <div class="col-sm-12 h-100">
        <div class="w-100 h-100 ">
            <div class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href="javascript:void();" title=""><img
                                src="https://tooeste.com.br/uploads/anuncio/800x600/images (3).jpeg"
                                class="d-block w-100 modal_banner" alt="" style="height:120px;"
                                fotoexpandida="https://tooeste.com.br/uploads/anuncio/800x600/"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>